BasedOnStyle: LLVM

AlignAfterOpenBracket : false
AlignEscapedNewlinesLeft : true
AlignConsecutiveAssignments : false
AllowAllParametersOfDeclarationOnNextLine  : false
AccessModifierOffset : -4
AllowShortCaseLabelsOnASingleLine : true
AllowShortFunctionsOnASingleLine : Inline
AllowShortIfStatementsOnASingleLine : true
AllowShortLoopsOnASingleLine : true
AlwaysBreakAfterDefinitionReturnType : None
BinPackArguments : false
BinPackParameters : false
BreakBeforeBraces : Allman
BreakConstructorInitializersBeforeComma  : true
ColumnLimit  : 120
ConstructorInitializerIndentWidth : 4
ConstructorInitializerAllOnOneLineOrOnePerLine : false
ContinuationIndentWidth : 4
IndentCaseLabels : true
IndentWidth : 4
KeepEmptyLinesAtTheStartOfBlocks  : true
MaxEmptyLinesToKeep : 2
NamespaceIndentation : None
PenaltyBreakBeforeFirstCallParameter : 0
PenaltyReturnTypeOnItsOwnLine  : 1000
PointerAlignment : Left
SpaceAfterCStyleCast  : false
SpaceBeforeAssignmentOperators : true
SpaceBeforeParens : true
SpaceInEmptyParentheses : false
SpacesBeforeTrailingComments : 1
SpacesInAngles : false
SpacesInCStyleCastParentheses : false
SpacesInParentheses : false
SpacesInSquareBrackets : false
Standard : Cpp11
TabWidth : 4
UseTab : true


