tmp/
bin/
obj/
*.sdf
*.suo
*.opensdf
*.user
evona_test/
*.orig
debug/
release/
qteditor/qteditor/QtEditor.vcxproj
qteditor/qteditor/QtEditor.sln
qteditor/qteditor/QtEditor.vcxproj.filters
qteditor/QtEditor/Makefile
qtEditor/QtEditor/ui_*.h
