tmp/
bin/
obj/
*.sdf
*.suo
*.opensdf
*.user
*.nvuser
*.orig
.vscode
.lumix
studio.ini
*.log
.lumixuser
*.unv.bak
scripts/3rdparty
!scripts/bin/
plugins/
src/engine/plugins.inl
.shader_cache_dx11
scripts/itch_io/
!data/editor/scripts/plugins/
*.dmp